.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox svg {
  margin-right: 6px;
  cursor: pointer;
}

.checkbox {position: relative;}