.container {
    height: 220px;
    max-height: 90vh;
    position: relative;
    overflow: hidden;
}

.filter {
    background-color: rgba(0,0,0, 10%);
    position: absolute;
    inset: 0;
}


.bg-wrapper {
    position: absolute;
    inset: 0;
    clip-path: inset(0 0 0 0);
}

.bg {
    position: absolute;
    background-position: top;
    background-size: cover;
    transform: translateZ(0);
    inset: 0;
    top: -170px;
    filter: blur(5px);
    margin: -10px;
}

.text-content {
    text-align: center;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-style: italic;
    font-size: 1.2rem;
    flex-flow: column;

}

.text-content > div:nth-child(2) {
    max-width: 100%;
}

.text-content a {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    display: inline-block;
    width: 100%;
}