.container {
    min-height: 600px;
    position: relative;
    overflow: hidden;
    font-family: var(--decorative-font-family);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-wrapper {
    position: absolute;
    inset: 0;
    clip-path: inset(0 0 0 0)
}

.bg {
    position: fixed;
    background-position: center center;
    background-size: cover;
    transform: translateZ(0);
    inset: 0;
}

.petal {
    position: absolute;
    top: -50px;

    & img {
        width: 25px;
    }
}

.form-wrapper {
    margin: 50px 20px;
    font-family: var(--main-font-family);
    z-index: 3;
    max-width: 520px;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(255, 255, 255, 35%);
    background: #fff;
    border-radius: 8px;
    padding: 40px 25px;
}

.form-wrapper h3 {
    font-size: 2.3rem;
    font-weight: 900;
    margin: 0;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.button {
    height: 50px;
    border-radius: 30px;
    align-self: center;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(1);
}