.container {
    min-height: 600px;
    position: relative;
    overflow: hidden;
    font-family: var(--decorative-font-family);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-wrapper {
    position: absolute;
    inset: 0;
    clip-path: inset(0 0 0 0)
}

.bg {
    position: fixed;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    transform: translateZ(0);
    inset: 0;
}

.petal {
    position: absolute;
    top: -50px;

    & img {
        width: 25px;
    }
}

.confirmed-message-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    opacity: 1;
    transition: all 0.4s;
}

.confirmed-message-wrapper.hidden {
    opacity: 0;
    visibility: hidden;
}

.confirmed-message-wrapper h3 {
    font-size: 2.3rem;
    font-weight: 900;
    margin: 20px 0;
    color: var(--primary-color);
}

.confirmed-message-wrapper p {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: underline;
}

.content {
    position: relative;
    margin: 50px 20px;
    font-family: var(--main-font-family);
    z-index: 3;
    max-width: 520px;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(255, 255, 255, 35%);
    background: #fff;
    border-radius: 8px;
    padding: 40px 25px;
    width: 100%;
}

.form-wrapper h3 {
    font-size: 2.3rem;
    font-weight: 900;
    margin: 0;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.content h6 {
    font-size: 1.2rem;
    margin: 0;
    margin-top: 20px;
    color: var(--primary-color);
}

.form form {
    gap: 20px;
    display: flex;
    flex-flow: column;
}

.button {
    height: 50px;
    border-radius: 30px;
    align-self: center;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: inherit;
}

.button:disabled {
    background-color: var(--grey-400);
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(1);
}

.form-wrapper.hidden {
    visibility: hidden;
    opacity: 0;
}

.form-wrapper {
    opacity: 1;
    transition: all 0.4s;
}

.check-icon {
    font-size: 100px;
    color: var(--primary-color);
}