.wrapper {
    display: flex;
    position: relative;
    margin-top: 15px;

    --react-international-phone-height: auto;
    --react-international-phone-country-selector-border-color: var(--divider-color)
}

.wrapper label {
    position: absolute;
    font-size: var(--input-label-font-size);
    top: -16px;
    font-family: var(--main-font-family);
    color: var(--text-primary-color);
    line-height: var(--input-label-font-size);
}

.wrapper:global(.Mui-focused) label {
    color: var(--primary-color);
}

.wrapper .input {
    display: flex;
    flex-grow: 1;
}

.wrapper :global(.react-international-phone-input-container) :global(.react-international-phone-input) {
    flex-grow: 1;
    width: 100%;
    font-family: var(--main-font-family);
    border: 1px solid var(--divider-color);
    border-radius: 0 4px 4px 0;
    padding: 10px;
    font-size: 1rem;
    color: var(--text-primary-color);
    outline: none;
    transition: border-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.wrapper:global(.Mui-focused) :global(.react-international-phone-input-container) :global(.react-international-phone-input) {
    border-color: var(--primary-color);
    outline: none;
}

.wrapper:global(.Mui-focused) :global(.react-international-phone-country-selector-button) {
    border-color: var(--primary-color);
    outline: none;
}

.wrapper :global(.react-international-phone-country-selector-button) {
    height: 100%;
}