!.eslintrc
node_modules
.converage
.gitlab
.husky
.gradle
gradle
.utils
docker
localCompiledLibraries
build
swagger.json
@generated
src/v1/menu/docs/menu2.json
src/v1/customer/account/docs/blackListedWords.json
src/v1/customer/account/mocks/blackListedWords.mock.json