.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 100px;
}

.container  h2 {
    font-size: 3rem;
    text-align: center;
    color: var(--primary-color);
}

.items-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 30px;
}

.item {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}

.item img {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

.item address {
    margin-top: 10px;
}

.title {
    font-size: 1.4rem;
    font-weight: 700;
}

.place {
    font-style: italic;
}

.divider {
    top: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--divider-color);
}

.time {
    color: var(--text-secondary-color);
}

@media (--md) {
    .items-container {
        gap: 100px;
        flex-flow: row nowrap;
    }

    .divider {
        height: 300px;
        width: 2px;
    }
}